<div class="main-box">
  <td>
    <mat-form-field class="example-full-width">
    <mat-label>Player</mat-label>
    <input [readonly]="gameHasStarted"
           matInput [value]="player.name"
           style="font-size: 36px; text-transform: uppercase;">
    </mat-form-field>
  </td>
  <div *ngIf="isCurrent">
    <h1 style="font-size: 180px; color: #e01a76">
      {{player.score}}
    </h1>
  </div>
  <div *ngIf="!isCurrent">
    <h1 style="font-size: 160px">
      {{player.score}}
    </h1>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
    <ng-container matColumnDef="threeDartAvg">
      <th mat-header-cell *matHeaderCellDef>Three Darts Avg. </th>
      <td mat-cell *matCellDef="let element"> {{element.threeDartAvg}} </td>
    </ng-container>
    <ng-container matColumnDef="firstNine">
      <th mat-header-cell *matHeaderCellDef>First Nine Avg.</th>
      <td mat-cell *matCellDef="let element"> {{element.firstNine}} </td>
    </ng-container>
    <ng-container matColumnDef="highestScore">
      <th mat-header-cell *matHeaderCellDef>Highest Score</th>
      <td mat-cell *matCellDef="let element"> {{element.highestScore}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-progress-bar class="progress-bar" mode="determinate"
                    [value]="(501 - player.score) / 501 * 100" />
</div>
